
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--rose-50);
    color: var(--rose-900);
}
img {
    max-width: 100%;
    display: block;
}
.app {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}
.products-section h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}


@media(min-width: 768px){
    .app {
        max-width: 150em;
        margin: 0;

        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }
    .products-section h1{
        font-size: 2.5rem;
    }
}